{% extends 'srm_app/base.html' %}

{% block title %}
    CRM System | Панель керування
{% endblock %}

{% block content %}

<div class="dashboard-header">
    <div>
        <h1>Панель керування</h1>
        <p>Огляд задач та активності команди</p>
    </div>
    <a class="btn" href="{% url 'task_list' %}">Усі задачі</a>
</div>


<div class="stats-grid">

    <div class="card stat-card">
        <p>Усього задач</p>
        <h2>{{ total_tasks }}</h2>
    </div>

    <div class="card stat-card">
        <p>До виконання</p>
        <h2>{{ todo_tasks }}</h2>
    </div>

    <div class="card stat-card">
        <p>В процесі</p>
        <h2>{{ in_progress_tasks }}</h2>
    </div>

    <div class="card stat-card">
        <p>На перевірці</p>
        <h2>{{ review_tasks }}</h2>
    </div>

    <div class="card stat-card">
        <p>Виконано</p>
        <h2>{{ done_tasks }}</h2>
    </div>
</div>


<div class="dashboard-grid">
    <div class="card">
        <div class="section-title">
            <h3>Останні задачі</h3>
            <a href="{% url 'task_list' %}">Переглянути</a>
        </div>

        {% for task in latest_tasks %}
            <div class="recent-task">
                <div>
                    <strong>{{ task.title }}</strong>
                    <p>{{ task.assignee }}•{{ task.deadline|date:"d.m.Y" }}</p>
                </div>

                <span class="task-status status-{{ task.status }}">
                    {{ task.get_status_display }}
                </span>
            </div>

        {% empty %}
            <p>Задач поки немає</p>
        {% endfor %}
    </div>

    <div class="card">
        <div class="section-title">
            <h3>Остання активність</h3>
        </div>

        {% for task in latest_tasks %}
            <div class="activity-item">
                <strong>{{ task.assignee }}</strong>
                <p>Оновив задачу "{{ task.title }}"</p>
            </div>

        {% empty %}
            <p>Активності немає</p>
        {% endfor %}
    </div>
</div>

{% endblock %}